
/*-----------------Daniel-----------------------------*/

#header {
  background-color: #60EF4F;
  margin-bottom: 15px;
}

.costado_izq{
  height: 100%;
  width: 25%;
}

.letra_titulo{
  font-family: fantasy;
  text-align: center;
  color: #6A5ACD;
}

.contenido{

}
.form-group{
  background: #FFFFFF;
  color: #FFFFFF;
}

.fotos_ejemplo {
  border-color: #8bd3a6;
  background-color: #66CDAA;
  border-style: inset;
  border-width: 7px;
  height: 150px;
}

.fotos_ejemplo img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height:  100%;
}

#logear {
  display: block;
}

.g-recaptcha {
  display: none;
}

#okIconEmail {
  display: none;
}
#errorIconEmail {
  display: none;
}
#okIconPass {
  display: none;
}
#errorIconPass {
  display: none;
}
