/*-----------------Samu-----------------------------*/

html {
  overflow-x: hidden;
}

body {
  background-color: #fcf4ed;
}

#header {
  background-color: #60EF4F;
}

/*--------------------LIGAR GUAUNDER----------------------*/
@media only screen and (max-width: 768px) {
  #principalBlock {
    max-height: 80%;
  }

  #principalBlock button {
    font-size: 14px;
  }
}

.negrita {
  font-weight: bold;
}

#principalBlock {
  width: 50%;
  height: 80%;
  min-width: 350px;
  margin-bottom: 80px;
  margin-top: 20px;
}

#principalBlock button {
  font-size: 20px;
}

#principalBlock button:focus {
  outline:0;
}

.btn.btn-1 {
  border-radius: 50%;
  outline: none;
  border: solid;
  border-color: #00d667;
  border-width: 7px;
  background-color: #fcf4ed;
}

.badge-btn-1{
   background-color: #rgb(0,214,102);
   position: relative;
   top: +10px;
   left: +55px;
   float: right;
}

#principalBlock button:hover,
#principalBlock a:hover {
  background-color: #e0e0e0;
}

#barra-boton-top {
  text-align: center;
}

#barra-boton-top button:first-of-type {
  float: left;
}

#barra-boton-top a {
  float: right;
  color: black;
}

#barra-boton-bottom {
  text-align: center;
  padding-top: 10px;
}

#barra-boton-bottom button:first-of-type {
  float: left;
}

#barra-boton-bottom #star-btn {
  float: right;
}

#barra-boton-bottom #cross-btn {
  font-size: 45px;
  width: 90px;
  height: 85px;
  color: red;
}
#barra-boton-bottom #cross-btn:hover {
  background-color: #ffcccc;
}
#barra-boton-bottom #bolt-btn {
  height: 48px;
  font-size: 18px;
  background-color: grey;
  border-color: #e6e6e6;
  color: yellow;
}
#barra-boton-bottom #heart-btn {
  font-size: 40px;
  padding-top: 10px;
  height: 90px;
  width: 90px;
  color: #70db70;
}
#barra-boton-bottom #heart-btn:hover {
  background-color: #d6f5d6;
}

.centro {
  margin: auto;
}

.usuario-vista {
  margin-top: 10px;
  border-color: #00d667;
  border-style: groove;
  border-width: 3px;
  min-height: 330px;
  max-height: 360px;
  height: 70%;
  background-color: #fcf4ed;
}

.carousel-caption {
  background-color: #00d667;
  opacity: 0.35;
}
.carousel-caption:hover {
  opacity: 0.80;
}

.carousel-caption .nombre-edad {
  font-size: 25px;
  text-shadow: -1px 1.5px white;
  color: black;
  padding-right: 10px;
}
.carousel-caption .localizacion {
  color: black;
  font-size: 25px;
  text-shadow: 1px 1px white;
}

#carousel-usuario .item {
  height: 310px;
}

.carousel-caption a:hover {
  color: #29a329;
  text-decoration: none;
}
.carousel-caption a:visited {
  color: white;
  text-decoration: none;
}

.usuario-foto img {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 90%;
  max-height: 300px;
  vertical-align: middle;
}

/*---------------------- CHATS ------------------------*/

#chat-box {
  width: 60%;
  height: 500px;
  min-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading-medium {
  font-size: 20px;
  vertical-align: middle;
  color: black;
}

.panel-default .panel-heading {
  background-color: rgb(0,214,102)!important;
}

.chat-convers {
  height: 390px;
}

.chat-conver {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  height: 12%;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-conver:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.nick {
  vertical-align: middle;
}

.glyphicon-plus-sign {
  float: right;
  font-size: 26px;
}

.msg-new {
  border-color: rgb(0,214,102);
  border-width: 3px;
  background-color: #b7ffb7;
}

.msg-preview-new {
  opacity: 0.9;
  padding-right: 5px;
}
.msg-preview-old {
  opacity: 0.5;
}

#nuevo-chat {
  background-color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}
#nuevo-chat-icono {
  color: black;
}

.modalsChats .modal-content .modal-footer {

}
.modalsChats .modal-content .modal-header{
  background-color: rgb(0,214,102);
}
.modalsChats .modal.content .modal-body {
  background-color: #e0e2e1;
  border-radius: 10px;
  display: block;
}